@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: url(../img/IMG_6496-scaled.jpg);
    
}
form{
    height:500px;
    max-width:500px;
    background:rgba(28, 117, 113, 0.75);
    color:white;
    margin: auto;
    padding: 40px;
    margin-top: 30px;
    border-radius: 4px;
    backdrop-filter: blur(5px);
}
form label{
    font-size: 25px;
    text-align: center;
}
form input{
    width: 70%;
    height: 40px;
    margin: 25px;
    text-align: center;
}
form textarea{
    border-radius: 6px;
}
form button{
    height: 40px;
    width: 30%;
    background: white;
    border:none;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}
form button:hover{
    background: cadetblue;
    
}